<html>
  <title>Wellcome in IBIS hotel</title>
  <link rel="stylesheet" href="/stylesheet/novotel.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
 <link rel="stylesheet" type="text/css" href="/stylesheet/app.css">
  <body>
      <nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/">BOOKIT</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        
      <ul class="nav navbar-nav navbar-left">
        <li><a href="#">ABOUT</a></li>
        
      </ul>
      <ul class="nav navbar-nav navbar-left">
        <li><a href="/random/novotel/gallery">Gallery</a></li>
        
      </ul>
       <ul class="nav navbar-nav navbar-left">
        <li><a href="/random/book">Book</a></li>
        
      </ul>
      <ul class="nav navbar-nav navbar-left">
        <li><a href="/logout">logout</a></li>
        
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
    <div>
      <h1>NOVOTEL</h1>
        
    <img src="https://www.ahstatic.com/photos/7535_ho_00_p_2048x1536.jpg">
    </div>
  <div id="main">
    <p><h2>Wellcome in IBIS Hotel</h2></p>
  <p>Ibis Amsterdam Centre is a charming 5-star hotel set in a prime location in the centre of Amsterdam. Local places of interest include Central Train Station Amsterdam, Red Light District and Oude Kerk. Other points of interest are Warmoes Clubs, Sint Nicolaaskerk and Beurs van Berlage. </p>
  <p>Guest bedrooms
Internet connection options: A surcharge is required for wireless high-speed Internet access. Housekeeping services are provided.
</p>
  <p>Hotel Facilities
Meal options at Ibis Amsterdam Centre include a restaurant. A delicious complimentary breakfast is served daily. Our hotel provides a 24-hour front desk service. Additional services: elevator/lift. Business & Internet: Our business guests will make use of business services at the hotel. Internet options at Ibis Amsterdam Centre: high-speed wireless connection is free to use.</p>
</div>
<div>
  <p align="center">
 
  </body>
  <script src="/js/novotel.js"></script>
</html>
